@font-face {
    font-family: 'Rosario';
    src: url("./Rosario/Rosario-SemiBold.ttf");

}

.Rosario-600{
    font-family: 'Rosario';
}

@font-face {
    font-family: 'Rosario';
    font-style: italic;
    src: url("./Rosario/Rosario-SemiBoldItalic.ttf");
}

.Rosario-600-italic{
    font-family: 'Rosario';
    font-style: italic;
}

@font-face {
    font-family: 'Rosario';
    src: url("./Rosario/Rosario-Bold.ttf");
    font-weight: 700
}

.Rosario-700{
    font-family: 'Rosario';
    font-weight: 700
}

@font-face {
    font-family: 'Rosario';
    font-style: italic;
    src: url("./Rosario/Rosario-BoldItalic.ttf");
    font-weight: 700
}

.Rosario-700-italic{
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700
}

@font-face {
    font-family: 'Volkhov';
    src: url(./Volkhov/Volkhov-Regular.ttf);
    font-weight: 400
}

.Volkhov-400{
    font-family: 'Volkhov';
}