@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
/* Padauk 400, 700
font-family: 'Padauk', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* DM Serif Display 400
font-family: 'DM Serif Display', serif; */

/* стилі застосовані для сторінок 1 та 2 (login and register) */

:root{
    font-size: 20px
}

body{
    margin: 0;
    background-color: rgba(0, 17, 36, 1);
    width: 100vw
}

div.container{
    width: 100vw;
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    flex-wrap: nowrap
}

/* містить в собі фото та блок з формочкою */

img.image{
    display: flex;
    max-width: 50vw;
    margin-right: 9vw;
    flex-shrink: 1
}

/* налаштування для картинок */

#img2{
    padding-left: 10vw;
    padding-right: 5vw
}

/* додаткові налаштування для картинки 2 */

div.form{
    padding-top: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 25%;
    color: rgba(255, 255, 255, 1);
}

/* налаштування для блоку з формочкою */

#form2{
    padding-top: 0
}

div.form_title{
    margin-bottom: 6%;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 61.7px
}

/* налаштування для заголовків сторінок */

div.form_questions{
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29.49px
}

form p{
    margin-top: 2%;
    margin-bottom: 2%
}

/* налаштування відступів для всіх параграфів у тегу форми */

p input{
    width: 100%;
    height: 40px
}

/* налаштування параментів для всіх інпутів у параграфах */

input[type="submit"]{
    margin-top: 3%;
    background-color: rgba(1, 95, 199, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 0.5rem 3rem;
    cursor: pointer
}

/* налаштування для кнопки */

a{
    text-decoration: none;
    color: rgba(73, 159, 254, 1)
}

/* налаштування для посилань (переходи на стр2 і стр3) */

div#button2{
    margin: 4% auto
}

/* додаткові налаштування для кнопки на стр2 (відцентровано) */