@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
/* Public Sans 400, 500, 700
font-family: 'Public Sans', sans-serif; */

/* стилі застосовані для сторінки 3 (анкета) */

:root{
    font-size: 16px
}

body{
    margin: 4rem 2.8rem 7.5rem 2.8rem;
    background-color: rgba(249, 249, 249, 1);
    color: rgba(23, 23, 23, 1);
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    box-sizing: border-box
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 5rem
}

div.Mand_field{
    font-weight: 400;
    font-size: 0.875rem
}

span.red_span{
    color: rgba(216, 57, 51, 1)
}

/* текст у цьому спані має червоний колір */

div.Section_title{
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem
}

/* Заголовок для section */

div.Section_form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box
}

/* складається з двох блоків-колонок */

div.Section_form_column{
    min-width: 45vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box
}

/* блок-колонка з запитаннями */

p input{
    width: 100%
}

/* ширина всіх інпутів у параграфах дорівнює ширині самого параграфа, таким чином поле вводу ширше */

span.optional{
    font-size: 0.8rem
}

/* текст у цьому спані має менший розмір шрифта */

p.visibility_p{
    visibility: hidden
}

/* параграф-імітація, аби вирівняти колонки вертикально і горизонтально */

input#app_reg{
    color: rgba(0, 80, 216, 1)
}

/* текст синього кольору в цьому виді інпуту */

input#req_date_form{
    text-align: center
}

input#fee_date_form{
    text-align: center
}

input#enroll_sub_date_form{
    text-align: center
}

p.flex_p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.8rem;
    padding-top: 1rem
}

/* налаштування для параграфів, в яких є чекбокс */

input#Purged{
    align-items: center;
    display: inline-block;
    width: fit-content;
    margin-top: 0;
    margin-right: 0.5rem;
    width: 1.5rem
}

/* налаштування інпуту з чекбоксом */

div.Section_form_ending{
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem
}

/* налаштування блоку з нижньою границею */

input#App_Fee_Proc{
    margin-top: 0;
    display: inline-block;
    width: fit-content;
    margin-right: 0.5rem;
    accent-color: rgba(255, 0, 255, 1);
    width: 1.5rem
}

/* налаштування інпуту з чекбоксом + його рожевий колір */

input#Application_reason{
    margin-top: 0;
    display: inline-block;
    width: fit-content;
    margin-right: 0.5rem;
    width: 1.5rem
}

/* налаштування інпуту з чекбоксом */

input#Owner_form{
    color: rgba(0, 80, 216, 1)
}

/* текст синього кольору в цьому виді інпуту */

div.button{
    text-align: right
}

/* вирівнювання кнопки Next по правому краю сторінки */

input[type="submit"]{
    background-color: rgba(1, 95, 199, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 0.5rem 3rem;
    cursor: pointer
}

/* налаштування кнопки Next */

input{
    height: 3rem;
    margin-top: 0.7rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem
}

/* налаштування для всіх типів input */

svg.img_arrow{
    position: absolute;
    right: 2%;
    bottom: 23%;
    z-index: 1
}

/* іконка стрілки (випадаючого списку) */

svg.img_search{
    position: absolute;
    right: 2%;
    bottom: 18%;
    z-index: 1
}

/* іконка лупи */

p:hover svg.img_arrow{
    visibility: hidden;
    transition: all 0ms
}

/* при наведенні курсову на параграф - іконка стрілки зникає */

p{
    position: relative
}

/* щоб іконки стрілки та лупи не виїжджали за межі параграфу */