@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Poppins weight 400 */

.Poppins_400{
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* Poppins weight 600 */

.Poppins_600{
    font-family: 'Poppins', sans-serif;
    font-weight: 600
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Poppins weight 700 */

.Poppins_700{
    font-family: 'Poppins', sans-serif;
    font-weight: 700
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Inter weight 400 */

.Inter_400{
    font-family: 'Inter', sans-serif;
    font-weight: 400
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/* Inter weight 700 */

.Inter_700{
    font-family: 'Inter', sans-serif;
    font-weight: 700
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Robotto weight 700 */

.Robotto_700{
    font-family: 'Roboto', sans-serif;
    font-weight: 700
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
/* Work Sans weight 500 */

.Work_Sans_500{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
/* Work Sans weight 600 */

.Work_Sans_600{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
/* Work Sans weight 700 */

.Work_Sans_700{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700
}

:root{
    font-size: 16px
}

/* задано дефолтне значення 1rem=16px */

body{
    margin: 0;
    background-color: rgba(33, 37, 41, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem
}

header{
    font-size: 1.2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between
}

img#logo{
    margin-left: 2rem
}

ul.navigation{
    list-style: none;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    font-size: 1.1rem
}

/* верхнє меню-навігація */

li.navigation{
    padding: 0 1rem 0 1rem;
    color: rgba(255, 255, 255, 1)
}

li.navigation:hover{
    color: rgba(255, 183, 66, 1);
    cursor: pointer
}

div.Hire_me{
    background-color: rgba(255, 183, 66, 1);
    color: rgba(33, 37, 41, 1);
    border-radius: 50px;
    padding: 12px 26px;
    margin-right: 2rem;
    font-size: 1.2rem;
    max-width: fit-content;
}

/* налаштування для кнопки Hire me */

div.Hire_me a{
    color: rgba(33, 37, 41, 1)
}

section.Info{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    flex-wrap: wrap
}

/* 1-ший section - імʼя, посада, слоган, аватар */

div#Home{
    font-size: 1.8rem;
    width: 100%
}

/* посилання-якір для кнопок Home */

span#name:hover{
    color: rgba(255, 183, 66, 1);
    text-decoration: underline;
    cursor: pointer
}

span#hand{
    visibility: hidden
}

div#Home:hover span#hand{
    visibility: visible
}

div#Info_1{
    font-size: 3rem;
    width: 100%;
    margin-top: 1.8rem;
}

div#Info_2{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 100%
}

img#Avatar{
    margin-top: 3rem
}

section.Achievements{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 6rem;
    box-sizing: border-box
}

/* 2-ий section - 3 блоки з цифрами досягнень */

div.Card{
    position: relative;
    width: 30rem;
    background-color: rgba(41, 43, 46, 1);
    margin: 0 1rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    border-radius: 10px
}

img.Pic{
    position: absolute;
    align-items: center;
    z-index: 1;
    left: 1.5rem
}

img.Arrow{
    position: absolute;
    align-items: center;
    z-index: 1;
    right: 1.5rem
}

div.Number{
    display: inline-block;
    font-size: 2rem;
    color: rgba(255, 183, 66, 1)
}

div.Text{
    display: inline-block;
    font-size: 1rem
}

div.Card:hover{
    color: rgba(33, 37, 41, 1);
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    cursor: pointer
}

div.Card:hover .Number{
    color: rgba(33, 37, 41, 1)
}

section.WHO_I_AM{
    margin-top: 8rem;
    display: flex
}

/* 3-ій section - About me */

div.Area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-right: 2rem
}

div.button{
    color: rgba(255, 183, 66, 1);
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 50px;
    max-width: fit-content
}

div.Part_1{
    font-size: 3rem;
    text-transform: capitalize
}

div.Part_2{
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem
}

section.Skills{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}

/* 4-ий section - скіли + іконки програм */

div.Area#two{
    max-width: 40vw
}

div.Icons{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    flex-wrap: nowrap
}

div.Icons_row1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 1rem
}

div.Icons_row2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly
}

img.Icon_img{
    background-color: rgba(56, 62, 69, 1);
    border-radius: 10px;
    padding: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}

#figma{
    padding-right: 1.5rem;
    padding-left: 1.5rem
}

img.Icon_img:hover{
    background-color: rgba(255, 183, 66, 0.5);
    cursor: pointer
}

section.My_works{
    margin-top: 10rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center
}

/* 5-ий section - приклади робіт */

div.Tabs{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem
}

div.Tab{
    margin: 2rem 2rem;
    padding: 0.6rem 1.2rem;
    box-sizing: border-box
}

div.Tab:hover{
    background-color: rgba(255, 183, 66, 1);
    border-radius: 3px;
    color: rgba(33, 37, 41, 1);
    cursor: pointer
}

div.Works{
    display: flex;
    flex-direction: row
}

div.Works_Examples{
    display: flex;
    flex-direction: column;
    justify-items: center
}

img.Work_img{
    margin: 0.5rem
}

section.Testimonials{
    margin-top: 10rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center
}

/* 6-ий section - відгуки */

div.Feedbacks{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 6rem 4rem 13rem 4rem
}

div.Feedback_card{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    min-height: 20rem;
    border-radius: 7.93px;
    padding: 2rem 1.5rem 2rem 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem
}

div.Stars{
    margin-bottom: 1rem
}

div.Designer{
    display: flex;
    flex-direction: row;
    margin-top: 2rem
}

img.Design{
   display: flex;
   justify-content: flex-start
}

div.Design_Text{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 34px
}

div.Des_1{
    width: 100%
}

div.Des_2{
    font-size: 1rem;
    width: 100%
}

footer{
    padding-top: 9.5rem;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem
}

/* підвал сторінки */

div.footer_column{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 20vw
}

div#my_name{
    font-size: 2rem;
    color: rgba(255, 183, 66, 1)
}

div.details{
    margin-top: 1.5rem;
    font-size: 1rem;
    color: rgba(212, 212, 212, 1);
    line-height: 1.8rem
}

div.Footer_Header{
    font-size: 1.4rem;
    color: rgba(245, 251, 242, 1);
    margin-bottom: 0.5rem
}

ul.ul_footer{
    padding: 0;
    font-size: 1.1rem;
    color: rgba(123, 123, 123, 1);
    line-height: 2rem;
    margin-bottom: 5rem
}

ul.ul_footer li{
    list-style: none;
    list-style-position: outside;
    display: flex;
    justify-content: flex-start
}

ul.ul_footer li:hover{
    color: rgba(255, 183, 66, 1);
    cursor: pointer
}

a{
    text-decoration: none
}

a.footer{
    text-decoration: none;
    color: rgba(123, 123, 123, 1)
}