@import url('https://fonts.googleapis.com/css2?family=Inika&family=PT+Sans&display=swap');

/* Підключено шрифт PT Sans weight=400;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400; */

@import url('https://fonts.googleapis.com/css2?family=Inika&family=PT+Sans:ital@1&display=swap');

/* Підключено шрифт PT Sans weight=400 italic;
font-family: 'PT Sans';
font-style: italic;
font-weight: 400; */


@import url('https://fonts.googleapis.com/css2?family=Inika&family=PT+Sans:wght@700&display=swap');

/* Підключено шрифт PT Sans weight=700;
font-family: 'PT Sans';
font-style: normal;
font-weight: 700; */

@import url('https://fonts.googleapis.com/css2?family=Inika&family=PT+Sans:ital,wght@1,700&display=swap');

/* Підключено шрифт PT Sans weight=700 italic;
font-family: 'PT Sans';
font-style: italic;
font-weight: 700; */



/* Короткий опис класів, тегів та айді. Важливі критичні значення:
 тег body - рожевий фоновий колір,
 тег хедер - синій фоновий колір,
 div.navigation - блок з меню навігації,
 .navigation ul - задано важливі налаштування для елементу з кнопками навігації,
 .navigation li - задано важливі налаштування для окремих кнопок навігації,
 a.menu - прибрано дефолтні налаштування для посилання кнопок з меню навігації,
 a.book - прибрано дефолтні налаштування для посилання кнопки з бронюванням,
 тег h1 - блок з написом "Забронювати будиночок",
 div#choice - блок з написом "Оберіть місцерозташування", тут може знаходитись випадаючий список,
 
 div.card - цілий блок картки з 1 місцерозташуванням. Включає в себе:
 (div.card:hover - блок змінює фоновий колір та отримує тінь при наведенні мишки на блок),
    div.card_img - задано важливі налаштування для блоку з картинкою,
    img.card_img - задано важливі налаштування для самиї картинки,
    div.card_descr - цілий блок тексту. Включає в себе:
        div.card_title - блок-заголовок, має нижню границю,
        div.card_text - блок-опис, сам текст,
        svg.star - іконка зірочки (додати до улюблених),
        (svg.star path:hover - зірка стає жовтою при наведенні мишки на неї),
            svg.star#card3 - дещо інші координати розташування іконки для картки 3,
            svg.star#card4 - дещо інші координати розташування іконки для картки 4,
        div.details - налаштування для блоку з написом "Детальніше",
        (div.details:hover - блок стає червоним при наведенні мишки на нього),
            div.details#card1 - дещо інші координати розташування іконки для картки 1,
            div.details#card2 - дещо інші координати розташування іконки для картки 2,
            div.details#card3 - дещо інші координати розташування іконки для картки 3,
            div.details#card4 - дещо інші координати розташування іконки для картки 4,

svg.arrow - інонка стрілочки "нагору", веде до лінка-якоря "Головна",
(svg.arrow:hover - іконка змінює розмір при наведенні мишки на неї).
*/

body{
    width: 100%;
    margin: 0;
    background-color: #FBE4FF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400
}

header{
    position: relative;
    width: 100%;
    color: white;
    background-color: #243B93;
    height: 65px;
    box-sizing: border-box
}

div.navigation{
    width: 100%;
    height: 65px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box
}

a.menu{
    text-decoration: none;
    color: #FFFFFF
}

a.book{
    text-decoration: none;
    color: #202846
}

.navigation ul{
    height: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    box-sizing: border-box
}

.navigation li{
    vertical-align: middle;
    list-style: none;
    text-align: center;
    letter-spacing: 16%;
    font-size: 16px;
    display: inline-block;
    padding-right: 2.5%;
    padding-left: 2.5%;
    box-sizing: border-box
}

h1{
    width: 100%;
    height: 85px;
    padding-top: 0.3em;
    position: relative;
    background-color: #BFF0FF;
    color: #202846;
    margin: 0;
    font-style: italic;
    font-size: 44px;
    font-weight: 400;
    padding-left: 15%;
    box-sizing: border-box;
    text-align: left
}

div#choice{
    position: relative;
    height: 57px;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #FFFFFF;
    color:black;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    box-sizing: border-box
}

div.card{
    width: 70%;
    position: relative;
    height: 270px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%)
}

div.card_img{
    position: relative;
    width: 35%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
    display: inline-block
}

img.card_img{
    padding-top: 9%;
    width: 103%;
}

div.card_descr{
    position: relative;
    width: 60%;
    margin-right: 0.5%;
    padding-bottom: 2%;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}

div.card_title{
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    border-bottom: white solid 3px
}

div.card_text{
    margin-top: 2%;
    padding-left: 1.5%;
    color: #202846;
    font-size: 22px;
    background-color: #EDFBFF
}

svg.star{
    position: relative;
    padding-top: 1.5%;
    left: 51%
}

svg.star#card3{
    left: 37.5%
}

svg.star#card4{
    left: 46.5%
}

svg.star path:hover{
    fill:yellow
}

div.card:hover{
    background: none;
    background-color: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB
}

div.details{
    position: relative;
    font-size: 24px;
    color: #FFFFFF;
    width: 210px;
    background-color: #243B93;
    text-align: center;
    border-radius: 30px;
    left: 81%;
    margin-top: 2.5%
}

div.details#card1{
    margin-top: 1%
}

div.details#card2{
    margin-top: 4%
}

div.details#card3{
    margin-top: 1%
}

div.details#card4{
    margin-top: -4%
}

div.details:hover{
    background-color: #EF075B
}

svg.arrow{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgba(48, 12, 106, 0.143);
}

svg.arrow:hover{
    bottom: 15px;
    right: 90px;
    width: 60px;
    height: 60px;
    background: rgba(48, 12, 106, 0.3)
}