@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

/* Підключено шрифт Inika weight 400 */

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');

/* Підключено шрифт Inika weight 700 */

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Marcellus+SC&display=swap');

/* Підключено шрифт Marcellus SC weight 400 */

body{
    margin: 0;
    width: 100%
}

/*

Розшифрування класів та айді, короткий опис:

class="header" - блоки напису STRONG UKRAINE, містить в собі ще два класи:
class="header_a" - для виділення слова STRONG синім кольором, з правим відступом,
class="header_b" - для виділення слова UKRAINE жовтим кольором;
class="header2" - блоки тексту для написів "Неймовірні місця України" та "Наша Україна переможе";
id="header2_2" - застосовано налаштування для класу header2, АЛЕ зі зміненим вирівнюванням тексту.

id="back-image_1" - фонова картинка 1 (чоловік з прапором та вертикальний прапор),
id="back-image_2" - фонова картинка 2 (горизонтальний прапор під фразою "Неймовірні місця України").

id="poem" - блок з віршем на фоновій картинці 1.

id="three_frames - блок, який складається з трьох інлайн-блоків для відображення трьох українських визначних памʼяток;
class="frame" - блок для відображення картинки та тексту, з налаштуваннями для рамки та тіні;
id="frame3" - прибрано правий відступ для блоку;
class="img" - додаткові налаштування для картинок;
тег h5 - назви визначних памʼяток (синім кольором);
тег h6 - опис визначних памʼяток (жовтим кольором).

id="line" - синя лінія під написом "Наша Україна переможе".

тег div id="map" - відцентрований блок для мапи України;
тег img id="map" - налаштування максимальної широти карти України.

тег div id="button" - налаштування для кнопки GO;
тег a id="button" - додаткові налаштування посилання для кнопки GO.

тег div id="contacts" - блок темного кольору внизу сторінки з контактними даними;
тег a class="contacts" - додаткові налаштування посилання для іконок соцмереж;
тег img class="contacts" - додаткові налаштування відступів для іконок соцмереж.

*/

.header{
    width: 100%;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px;
    line-height: 69.5px;
    font-weight: 200;
    margin: 20px auto 0
}

.header_a{
    color: #3E45E8;
    padding-right: 3px
}

.header_b{color: #E8C23E}

#back-image_1{
    margin-top: 10px;
    min-height: 765px;
    background-image:  url("./img/flag.svg"), url("./img/background-ukraine.svg");
    background-repeat: no-repeat;
    background-size: 1.5%, 100%;
    background-position: 5%
}

#poem{
    text-align: left;
    font-family: 'Inika';
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    padding-left: 140px;
    padding-top: 225px;
    line-height: 75.5px;
    margin-left: 3%;
    max-height: fit-content;
}

#back-image_2{
    margin-left: 0;
    min-height: 80px;
    max-height: 80px;
    background-image: url("./img/flag2.svg");
    background-repeat: no-repeat;
    background-position: 0 100%
}

.header2{
    max-width: 100%;
    text-align: left;
    font-family: 'Inika';
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 2%;
    text-indent: 5%
}

#three_frames{
    margin-left: 5%;
    margin-right: 2.5%;
    max-width: 100%;
    min-height: fit-content
}

.img{
    min-width: 100%;
    background-color: #0D095F;
    border-radius: 20px
}

.frame{
    margin-top: 5%;
    min-width: 30%;
    border: 5px solid #0D095F;
    border-radius: 30px;
    box-shadow: -16px 21px 40px 0px #00D1FF59;
    display: inline-block;
    margin-right: 3%;
    box-sizing: border-box
}

#frame3{
    margin-right: 0
}

h5{
    font-family: 'Inika';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    color: #0072DB;
    text-transform: capitalize;
    padding-left: 10px;
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 13px
}

h6{
    font-family: 'Inika';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #FF9900;
    text-transform: none;
    padding-left: 10px;
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    box-sizing: border-box;
    margin-top: 18px;
    margin-bottom: 75px;
}

#header2_2{
    text-align: center;
    text-indent: 0
}

#line{
    margin: auto;
    margin-top: 0.5%;
    background-color: #1400FF;
    min-width: 592px;
    max-width: 600px;
    height: 7px
}

div#map{
    text-align: center;
    margin-top: 2%
}

img#map{
    width: 50%
}

div#button{
    margin: 2% auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(42, 97, 240, 1);
    border-radius: 50px;
    font-size: 64px;
    width: 30%
}

a#button{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

div#contacts{
    font-family: 'Marcellus SC';
    font-style: normal;
    margin-top: 2%;
    padding-top: 0.01%;
    width: 100%;
    text-decoration: none;
    color: #A89D9D;
    background-color: #0D0661;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.009em;
    padding-bottom: 1%
}

a.contacts{
    text-decoration: none;
    color: #A89D9D
}

img.contacts{
    margin-right: 0.9%
}