:root{
    font-size: 36px;
    color: black;
    text-align: center;
    margin: 0
}

a{
    text-decoration: none;
    color: inherit
}

div.header{
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 252, 252, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    z-index: 1
}

div.header * {
    box-sizing: border-box
}

div.header_logo{
    height: 100%
}

img.header_logo{
    margin: 0;
    height: 100%;
}

div.header_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    min-width: 55vw
}

li.menu_item{
    flex-grow: 1;
    padding: 0 0.5%
}

li.menu_item a{
    padding: 0.75rem 0
}

div.page{
    height: 90vh
}