@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@600&display=swap');

.Rosario-600{
    font-family: 'Rosario';
    font-weight: 600
}

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,600&display=swap');

.Rosario-600-italic{
    font-family: 'Rosario';
    font-weight: 600;
    font-style: italic
}

@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');

.Rosario-700{
    font-family: 'Rosario';
    font-weight: 700
}

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,700&display=swap');

.Rosario-700-italic{
    font-family: 'Rosario';
    font-weight: 700;
    font-style: italic
}

@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.Volkhov-400{
    font-family: 'Volkhov';
    font-weight: 400
}