@import url("./normalize.css");
@import url("./fonts.css");
@import url("./global.css");
@import url("./animate.css");

/* стилі для сторінки 1. початок */

div.page1{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 71px 46px 64px 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s
}

div.page1_box{
    min-width: 20%;
    max-width: 25%
}

img.page1_img{
    width: 100%
}

div.box1{
    margin-right: 72px
}

div.box2{
    margin-right: 18px
}

div.box4{
    margin-left: 72px
}

div.page1:hover div.box1{
    animation: page1_box1 2s linear 1
}

div.page1:hover div.box2{
    animation: page1_box2 1s linear 1
}

div.page1:hover div.box3{
    animation: page1_box3 1s linear 1
}

div.page1:hover div.box4{
    animation: page1_box4 2s linear 1
}

/* стилі для сторінки 1. кінець */

/* стилі для сторінки 2. початок */

div.page2{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    transition: all 0.5s;
}

div.page2_box{
    padding: 2vh 0;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

div.page2_box_item{
    width: 40%;
    height: 35%;
    position: relative
}

img.page2_img{
    width: 85%
}

div.page2_descr{
    z-index: 1
}

div.page2_back_img{
    width: 50%;
    height: 100%;
    background-image: url("../assets/Page2/Pic5_back.png");
    background-size: cover
}

div.page2:hover #item1{
    animation: page2_item1 5s linear 1
}

div.page2:hover #item2{
    animation: page2_item2 5s linear 1
}

div.page2:hover #item4{
    animation: page2_item4 5s linear 1
}

div.page2:hover #item3{
    animation: page2_item3 5s linear 1
}

/* стилі для сторінки 2. кінець */

/* стилі для сторінки 3. початок */

div.page3{
    width: 100%;
    height: 100%
}

div.page3 * {
    box-sizing: border-box
}

div.page3_title{
    font-size: 2rem;
    padding: 3.5vh 0
}

div.page3_box{
    display: flex;
    justify-content: space-evenly
}

div.page3_box_member{
    width: 20%;
    transition: all 0.5s;
    position: relative
}

div.page3_box_member img{
    width: 100%;
    height: 100%
}

div.page3_box:hover img[class*=member]{
    filter: brightness(40%)
}

div.member1:hover img.member1{
    filter: none
}

div.member1:hover div.member_name{
    visibility: visible;
    filter: none
}

div.member2:hover img.member2{
    filter: none
}

div.member2:hover div.member_name{
    visibility: visible;
    filter: none
}

div.member3:hover img.member3{
    filter: none
}

div.member3:hover div.member_name{
    visibility: visible;
    filter: none
}

div.member4:hover img.member4{
    filter: none
}

div.member4:hover div.member_name{
    visibility: visible;
    filter: none
}

div.member_name{
    width: 100%;
    height: 23%;
    padding: 0.8rem 0;
    background-color: rgba(163, 83, 10, 0.7);
    border-radius: 0% 0% 33px 33px;
    position: absolute;
    bottom: 0;
    color: rgba(255, 250, 250, 1);
    font-size: 1rem;
    vertical-align: middle;
    visibility: hidden;
    filter: brightness(40%)
}

/* стилі для сторінки 3. кінець */

/* стилі для сторінки 4. початок */

div.page4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 6vw 2vh;
    box-sizing: border-box
}

div.page4_block{
    height: 60%;
    display: flex;
    box-sizing: border-box
}

div.page4_form{
    width: 65%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box
}

div.page4_map{
    width: 35%;
    height: 100%;
    box-sizing: border-box
}

iframe{
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

div p{
    font-size: 1rem;
    width: 100%;
    height: 28%;
    margin: 0;
    padding-right: 34px;
    box-sizing: border-box;
    text-align: center;
    white-space: pre-line
}

form{
    background-color: rgba(229, 229, 229, 1);
    color: rgba(0, 0, 0, 0.5);
    width: 95%;
    height: 72%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    box-sizing: border-box
}

div.form_line1{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-top: 2%;
    height: 30%
}

.form_line1 div{
    width: 100%
}

.form_line1 input{
    width: 95%;
    height: 100%
}

div.form_line2{
    padding: 3%;
    height: 60%
}

.form_line2 textarea{
    width: 100%;
    height: 100%;
    border: none
}

input{
    border: none;
    display: inline-block
}

div.page4_contacts{
    height: 30%;
    display: flex;
    font-size: 0.65rem;
    justify-content: space-evenly;
    align-items: self-start
}

div.contacts{
    line-height: 0.95rem
}

div.work_hours:nth-child(2) {
    line-height: 0.95rem;
}

span#work_hours_title{
    display: inline-block;
    padding-bottom: 8%
}

div.social_media{
    align-items: center
}

table{
    align-items: center;
    text-align: left;
    margin-left: 20px
}

table * {
    box-sizing: border-box
}

td.social_logo{
    text-align: center;
    padding-top: 2px;
    padding-right: 10px
}

/* стилі для сторінки 4. кінець */