body {background-color: rgb(211, 236, 211);
    margin-top:0;
}

/* прибрано верхній відступ чорного блоку, наразі він співпадає з початком сторінки (body) */

.icon{background-color: black;
    color:white;
    text-align: center;
    max-width: 400px;
    min-width: fit-content;
    min-height: 490px;
    margin: 0 auto;
}

/* стилі чорного блоку */

table{min-width: 300px;
    min-height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    margin: 0 auto 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    word-spacing: 2px;
    box-sizing: border-box;
}

/* стилі для рамочок кнопок */

a{text-decoration: none}

/* прибрано нижнє підкреслення для посилань */